app = "sm-web-backend"

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
  handlers = ["http"]
  port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[vm]
  size = "shared-cpu-1x"
  memory = "256"